<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat:wght@900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/styles.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container-fluid" id="header-container">
      <div class="row">
        <div class="col-lg-8">
          <h3>
            <img
              src="images/logo.jpg"
              alt=""
              width="47"
              height="44"
              class="d-inline-block align-text-top"
            />FitnessBuddy
          </h3>
        </div>
        <div class="col-lg-4">
          <h6>Hi,<%=cur_user[1]%> <a href="/"
            > <img src="images/logout.jpg" alt="logout" height="30px"></a> </h6>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid mx-5 px-5">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/food">Food</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exercise">Exercise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/viewgoals">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <div class="card">
              <div
                class="rounded-top text-white d-flex flex-row"
                style="background-color: #000; height: 200px"
              >

              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
                <img
                  src="images/profile.jpg"
                  alt="Generic placeholder image"
                  class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1"
                />
        

              </div>
              <div class="ms-3" style="margin-top: 130px">
                <h5><%=cur_user[2]%> <%=cur_user[3]%></h5>
                <p>User</p>
              </div>

              </div>
              
              <div class="card-body p-4 text-black">
                <div class="mb-5">
                  <p class="lead fw-normal mb-3 ms-4">Daily Goals</p>
                  <hr>

                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Net Calorie Intake</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[0]%> Calories</p>
                    </div>
                  </div>
                  <hr />
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Calorie Burn</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[1]%> Calories</p>
                    </div>
                  </div>
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Water Intake</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[2]%> Glasses</p>
                    </div>
                  </div>
                  <hr />
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Carbs</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[3]%> g</p>
                    </div>
                  </div>
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Protein</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[4]%> g</p>
                    </div>
                  </div>
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Fat</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[5]%> g</p>
                    </div>
                  </div>
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Vitamin C</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[6]%> mg</p>
                    </div>
                  </div>
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Iron</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[7]%> mg</p>
                    </div>
                  </div>
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Sodium</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[8]%> mg</p>
                    </div>
                  </div>
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Sugar</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[9]%> g</p>
                    </div>
                  </div>
                  <div class="row ms-4">
                    <div class="col-sm-3">
                      <p class="mb-0">Dietary Fiber</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=data[10]%> g</p>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center ms-4">
                  <div class="col-sm-3">
                    <a
        class="btn btn-outline-dark"
        href="/goals"
        role="button"
        >Edit Goals</a
      >
                    
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
